@font-face {
    font-family: "SB Sans";
    src: url('../fonts/SBSansDisplay-SemiBold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "SB Sans";
    src: url('../fonts/SBSansDisplay-Regular.otf') format('opentype');
    font-weight: normal;
}

body {
    font-family: "SB Sans", normal;
    background-color: #371818;
    color: #ff8b8b;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #ff8b8b;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    transform: rotate(-15deg) translateX(-15px) translateY(-20px);
    
    background-color: #ff8b8b56;
}

.back-link {
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #ff8b8b;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: "SB Sans", normal;
    color: #372a18;
    width: 220px;
    height: 50px;
    font-size: large;
    border: 0px solid #ff8b8b;
    border-radius: 10px;
    background-color: #ff8b8b;
    margin: 5px;
}

button:hover {
    border: 2px solid white;
}

button:active {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
}

.toolbar {
    position: absolute;
    width: 350px;
    height: 300px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    background-color: #ff8b8b56;
    margin-top: 20vh;
    margin-left: -25px;
    border-radius: 20px;
}

.selector-mode {
    margin-top: 10px;
}

.control-buttons {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

option, select, input {
    height: 20px;
    font-family: "SB Sans";
    color: #371818;
    background-color: #ff8b8b;
    border: 0px;
    border-radius: 5px;
}

range {
    color:#ff8b8b;
}

input[type=range] {
    transform: translateY(4px);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #ff8b8b;
    background: #ff8b8b;
    border-radius: 14px;
    border: 0px solid #000000;
}

/* Код Феди */

div span {
    width: 20px; 
    height: 20px; 
    position: absolute; 
    border: 1px solid black;
}

.possibleWay {
    background-color: blueviolet;
}

.possibleWay:hover {
    background-color: rgb(178, 95, 255);
}

.seenCell {
    background-color: violet;
}

.seenCell:hover {
    background-color: rgb(196, 17, 121);
}

.currentCell {
    background-color: rgb(87, 87, 255);
}

.currentCell:hover {
    background-color: blue;
}

.blankCell {
    background-color: #ff8b8b;
}

.blankCell:hover {
    background-color: white;
}

.wall {
    background-color: rgb(28, 27, 46);
}

.wall:hover{
    background-color: black;
}

.startPoint {
    background-color: rgb(255, 255, 174);
}

.startPoint:hover {
    background-color: rgb(255, 216, 40);
}

.endPoint {
    background-color: green;
}

.endPoint:hover{
    background-color: rgb(22, 110, 22);
}

.theWay {
    background-color: yellowgreen;
}

.theWay:hover{
    background-color: rgb(156, 185, 96);
}