@font-face {
    font-family: "SB Sans";
    src: url('../fonts/SBSansDisplay-SemiBold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "SB Sans";
    src: url('../fonts/SBSansDisplay-Regular.otf') format('opentype');
    font-weight: normal;
}

body {
    font-family: "SB Sans", normal;
    background-color: #183737;
    color: rgb(200, 255, 255);
}

* {
    font-family: 'SB Sans';
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    display:grid;
    grid-template-columns: 2fr 5fr;
    margin-top: 5px;
}

.toolbar {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin-left: auto;
    margin-right: 20px;
    background-color: #3f7a7a;
    border-radius: 10px;
    width: 323px;
}

.textbox {
    margin-left: 10px;
    margin-right: 10px;
}

input{
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #e1eea0;
    color: #512e2e;
    font-size: 16px;
    margin: 20px auto 20px auto;
    
    
    text-align: center;
    display: none;
    width: 300px;
    height: 50px;
}

.tree {
    overflow: scroll;
    width: 1000px;
    height: 600px;
    background-color: #3f7a7a;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#answer:focus, #answer:hover{
    outline: none;
    background-color: #247ABF;
}

.canvas {
    display: block;
    width: 1000px;
    height: 600px;
    background-color: "white";
    margin: 0 auto 0 auto;
}

.button-section {
    margin-top: 10px;
}

button, label {
    font-family: "SB Sans";
    color: #191837;
    width: 260px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    border: 0px solid rgb(200, 255, 255);
    border-radius: 10px;
    background-color: rgb(200, 255, 255);
    margin-bottom: 10px;

    text-align: center;
    display: block;
}

button:hover, label:hover {
    border: 2px solid white;
}

button:active, label:active {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
}

.tree ul {
    display: flex;
    white-space: nowrap;
	padding-top: 20px; 
    position: relative;
}

.tree li {
	float: left; 
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0px 0px;
}

.tree li::before, .tree li::after{
	content: '';
	position: absolute; 
    top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; 
    height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child{ 
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}

.tree li:first-child::after{
	border-radius: 5px 0 0 0;
}

.tree ul ul::before{
	content: '';
	position: absolute; 
    top: 0; 
    left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
    background: rgb(200, 255, 255);
	border: 0px;
    min-width: 200px;
    max-width: min-content;
    padding-top: 15px;
    height: 30px;
	text-decoration: none;
	color: #000;
	
	font-size: 14px;
	display: inline-block;
	border-radius: 5px;
    
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    transform: rotate(-15deg) translateX(-15px) translateY(-20px);
    
    background-color: #8bffff56;
}

.back-link {
    margin-left: 30px;
}

.back-link {
    text-decoration: none;
    color: rgb(200, 255, 255);
}

.back-link:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(200, 255, 255);
}

textarea {
    background-color: rgb(200, 255, 255);
    border-radius: 10px;
}